# Build
/build*/
/out/
/CMakeFiles/
/Testing/
CMakeCache.txt
compile_commands.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.cache/
CMakeLists.txt.user*
*.qbs.user*

# OS
.DS_Store
Thumbs.db

# Generated
*.o
*.obj
*.so
*.so.*
*.dll
*.dylib
*.a
*.exe
moc_*.cpp
ui_*.h
qrc_*.cpp
